:root {
  --foreground-rgb: 100, 100, 100;
  --middleground-rgb: 150, 150, 150;
  --middleground-light-rgb: 50, 50, 50;
  --background-start-rgb: 214, 214, 214;
  --background-end-rgb: 214, 214, 214;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0px;
}

h1 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 3rem;
  font-weight: 750;
  margin: 0px;
}

h2 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 5.5rem;
  font-weight: 750;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.25rem;
  font-weight: 750;
  margin: 0px;
  color: rgb(var(--foreground-rgb));
}

h4 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.25rem;
  font-weight: 750;
  margin: 0px;
  color: rgb(var(--middleground-rgb));
}

h5 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 0.825rem;
  font-weight: 500;
  color: rgb(var(--middleground-rgb));
  margin: 0px;
}

.icon {
  width: 1rem;
  height: 1rem;
  fill: rgb(var(--foreground-rgb));
}

p {
  text-align: justify;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1rem;
  font-weight: 500;
  margin: 0px;
  color: rgb(var(--foreground-rgb));
}
