:root {
  --foreground-rgb: 100, 100, 100;
  --middleground-rgb: 150, 150, 150;
  --background-start-rgb: 214, 214, 214;
  --background-end-rgb: 214, 214, 214;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 3rem;
  font-weight: 750;
  margin-bottom: 1rem;
}

h5 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 0.825rem;
  font-weight: 500;
  color: rgb(var(--middleground-rgb));
  margin: 0px;
}
