.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.link-grid-container {
    width: 100%;
}

.link-grid {
    display: grid;
    width: 100%;
    height: calc(100vh - 4.5rem);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(var(--middleground-rgb), 0.2);
    border-radius: 2px;
    border: 1px solid;
    border-color: #8C8C8C;
    background-color: rgba(34, 34, 34, 0.411);
    backdrop-filter: blur(0.5rem);
    z-index: 100;
    padding: 1rem 0.5rem 1rem 0.5rem;
    grid-column: span 1;
    grid-row: span 1;
}

.link-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link-logo {
    height: 20px;
    width: 32px;
}

.link:hover {
    background-color: rgb(var(--middleground-rgb), 0.4);
    border-color: rgb(var(--middleground-rgb));
}

.link-text {
    position: relative;
    display: block;
    color: rgb(var(--foreground-rgb));
    z-index: 100;
    text-decoration: none;
    font-size: 1rem;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.logo-base {
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
}

.logo {
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    mix-blend-mode: exclusion;
}

.logo-bw {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    mix-blend-mode: hue;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0.5rem);
}

/* breakpoint at smartphone size*/
@media (max-width: 900px) {
    .link-grid-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: calc(100vh - 4.5rem);
    }

    .link-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0.25rem;
        height: 216px;
        max-width: 500px;
    }

    .link {
        grid-column: span 1;
        grid-row: span 1;
        justify-content: center;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    }
}

@media (max-width: 900px) {
    .link-grid-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: calc(100vh - 4.5rem);
    }

    .link-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.25rem;
        height: 100%;
        max-width: none;
    }

    .link {
        grid-column: span 1;
        grid-row: span 1;
        justify-content: flex-end;
        padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    }
}

@media (max-width: 480px) {
    .link-grid-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: calc(100vh - 4.5rem);
    }

    .link-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0.25rem;
        height: 216px;
        max-width: 500px;
    }

    .link {
        grid-column: span 1;
        grid-row: span 1;
        justify-content: center;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    }
}


